// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------


// $background: ;
// $background: #2b2724;
$background: black;
$midway: gray;
$text: white;

