// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------


// $background: ;
// $background: #2b2724;
$background: rgba(20,10,10,1);
$midway: gray;
$text: white;

