@include keyframes('jit'){
	from{
		@include transform(scaleY(1.5) skew(5deg, -5deg));
	}

	to{
		@include transform(scaleY(1.5) skew(15deg, -15deg));
	}
}


.container{
	
	width: 90%;
	margin: auto 5%;
	position: relative;
	overflow-x: hidden;
	@include mq("medium"){
		width: 80%;
		margin: auto 10%;
	}
	@include mq("large"){
		position: relative;
		width: 55%;
		height: auto;
		float: right;
		padding: 0 20px;
		overflow-x: hidden;
		margin: 0;
	}

	@include mq("widescreen"){
		padding: 0 50px;
	}
	

	.title{
		font-size: 1em;
		width: 100%;
		height: 600px;
		height: 100vh;
		text-align: center;
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		cursor: pointer;
		@include mq("medium"){
			height: 90vh;
		}
		@include mq("large"){
			height: 100vh;
		}

		p{
			//text-decoration: underline;
			padding: 10px;
			font-size: 1.5em;
			width: 100%;
			font-family: 'Portrait';
			text-align: center;
			font-weight: bold;
			@include uppercase();
			margin: 0;
			@include mq("medium"){
				font-size: 3em;
			}
			&:first-child{
				@include transform(skew(60deg, -30deg) scaleY(0.666667) translateX(0));
				@include mq("large"){

					@include transform(skew(60deg, -30deg) scaleY(0.666667) translateX(-70px));
				}
				
			}
			&:nth-child(2){
				top: .46em;
				@include transform(skew(0deg, -30deg) scaleY(1.33333));
				@include mq("large"){
					top: .46em;
					@include transform(skew(0deg, -30deg) scaleY(1.33333));
				}
			}
			&:nth-child(3){
				@include transform(skew(60deg, -30deg) scaleY(0.6666667) translateX(0));
				@include mq("large"){
					@include transform(skew(60deg, -30deg) scaleY(0.6666667) translateX(20%));
				}
				
			}
			&.title-last{
				font-size: 1em;
				margin-top: 50px;
				//text-transform: none;
				font-family: 'maison';
				letter-spacing: 1px;
				font-weight: normal;
			}
			@include mq("large"){
				&:first-child{
					@include transform(skew(60deg, -30deg) scaleY(0.666667) translateX(-70px));
				}
				&:nth-child(2){
					top: .46em;
					@include transform(skew(0deg, -30deg) scaleY(1.33333));
				}
				&:nth-child(3){
					@include transform(skew(60deg, -30deg) scaleY(0.6666667) translateX(20%));
				}
			}
			
			
		}
		
	}

	.intro{
		margin-bottom: 10em;
		.author{
			.author-name{
				background: white;
				color: $background;
				padding: 2px 5px;
				a{
					text-decoration: none;
				}
			}
		}
	}

	.speaker{
		.mobile-image{
			width: 100%;
			background: white;
			margin: 25px 0;
			@include mq("large"){
				display: none;
			}
			img{
				max-width: 100%;
				width: 100%;
				padding: 10px;
			}
		}
		h2{
			//border: 2px solid white;
			padding: 10px 0;
			text-align: center;
			@include uppercase();
			margin: 40px 0;
			font-family: 'Portrait', 'Times New Roman', serif;
			@include transform(scaleY(1.5) skew(5deg, -5deg));
			letter-spacing: 2px;
			font-size: 2em;
			//@include animation('jit' 5s linear infinite alternate-reverse);
			@include mq("large"){
				padding: 20px 0;
				margin: 50px 0;
				width: 80%;
				margin-left: 10%;
				font-size: 3em;
				
			}
		}
	}

	.desktop-only{
		display: none;
		@include mq("large"){
			display: inline;
		}
	}

	.iframe-audio{
		margin-top: 50px;
		width: 80%;
		margin-left: 10%;
	}

	.iframe-audio-caption{
		width: 80%;
		margin-left: 10%;
		font-size: 0.75em;
	}

	.question{
		font-weight: bold;
		line-height: 1.5;
		margin: 50px 0;
	}

}